 #sidebarButton {
    border: none;
    border-radius: 0px;
    padding: 0px 20px;
    text-align: left;
    background-color: transparent;
    color: #a1a1aa;
}

#sidebarButton:hover {
    background-color: #27272a;
    color: white;
}

#sidebarButton:pressed {
    background-color: #3f3f46;
}

#header {
    background-color: #0F172A; 
    }

#header QLabel { 
    color: #38BDF8; }

#sidebar { 
    background-color: #1E293B; 
    }
    
#content { 
    background-color: #090D16; 
    }